<br><!--Footer-->
<footer>
    <div >
        <ul class="redesSociales">
            <li class="rd">
                <a href=" https://wa.me/+573006606189" target="_blank">
                    <img alt="whatsapp-logo" src="../../assets/icon-whatsapp.svg"/>
                </a>
                <br>
                
            </li>
            <li class="rd">
                <a href="https://www.facebook.com/laura.tinocoordosgoitia" target="_blank">
                    <img alt="facebook-logo" src="../../assets/icon-facebook.svg"/>
                </a>
                <br>
                
            </li>
            <li class="rd">
                <a href="mailto:laura_tinoco_o@hotmail.com" target="_blank">
                    <img alt="twitter-logo" src="../../assets/email.png" width="25" height="25"/>
                </a>
                <br>
                
            </li>
            <li class="rd">
                <a href="https://www.instagram.com/lauratinocoeventos/" target="_blank">
                    <img alt="instagram-logo" src="../../assets/icon-instagram.svg"/>
                </a>
                <br>
               
         </li>
    </ul>
    </div>
    <hr>
    <p>© 2023 Laura TinocO, made with ♥ by Roberth Rondón.</p>
    <div class="terminosCondiciones">
        <ul>
            <li class="tc"><a href="#">Terms of Use</a></li>
            <li class="tc"><a href="#">Privacy Policy</a></li>
            <li class="tc"><a href="#">Cookie Policy</a></li>
        </ul>
    </div>
</footer>
