<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Laura TinocO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" [routerLink]='["/home"]'>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="quienes">Quienes Somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="childs-packs">Paquetes Fiestas Infantiles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"  routerLink="galeria">Galeria</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Eventos Sociales
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Bautizos</a></li>
              <li><a class="dropdown-item" href="#">Cumpleaños</a></li>
              <li><a class="dropdown-item" href="#">Bodas</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Otros Servicios</a>
          </li>
          <div >
            <ul class="redesSociales">
                <li class="rd">
                    <a href=" https://wa.me/+573006606189" target="_blank">
                        <img alt="whatsapp-logo" src="../../assets/icon-whatsapp.svg"/>
                    </a>
                    <br>
                    
                </li>
                <li class="rd">
                    <a href="https://www.facebook.com/laura.tinocoordosgoitia" target="_blank">
                        <img alt="facebook-logo" src="../../assets/icon-facebook.svg"/>
                    </a>
                    <br>
                    
                </li>
                <li class="rd">
                    <a href="mailto:laura_tinoco_o@hotmail.com" target="_blank">
                        <img alt="twitter-logo" src="../../assets/email.png" width="25" height="25"/>
                    </a>
                    <br>
                    
                </li>
                <li class="rd">
                    <a href="https://www.instagram.com/lauratinocoeventos/" target="_blank">
                        <img alt="instagram-logo" src="../../assets/icon-instagram.svg"/>
                    </a>
                    <br>
                   
             </li>
        </ul>
        </div>
        </ul>
      </div>
    </div>
  </nav>
