.navbar-brand {
    font-family: 'MonteCarlo', cursive;
    color: rgb(246, 212, 19);
    font-size: 70px;
}

.dropdown-menu{
    color: white;
}

.redesSociales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    cursor: pointer;

    
}

li{
    list-style: none;
    padding: 10px;
}