<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body" >
                <h5 class="card-title">Titulo Foto</h5>
                <img class="myImg" src="../../assets/gal1.jpeg" width="350px" height="200px" alt="image-gal1">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque quisquam quasi eligendi, distinctio dolorem fugit facilis reiciendis. Non dignissimos quas placeat atque, repellat quod pariatur sed asperiores, voluptate, dolore numquam.</p>
            </div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" width="50%">
                Ampliar foto
            </button>
            <!-- Modal  card1-->
            <div class= "modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Título del modal</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img class="Imgmodal" src="../../assets/gal1.jpeg"  alt="image-gal1">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Titulo Foto</h5>
                <img class="myImg"  src="../../assets/gal2.jpeg" width="350px" height="200px" alt="image-gal2">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque quisquam quasi eligendi, distinctio dolorem fugit facilis reiciendis. Non dignissimos quas placeat atque, repellat quod pariatur sed asperiores, voluptate, dolore numquam.</p>
            </div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop1" width="50%">
                Ampliar foto
            </button>
            <!-- Modal  card2-->
            <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Título del modal</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img class="Imgmodal"  src="../../assets/gal2.jpeg" alt="image-gal2">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Titulo Foto</h5>
                <img class="myImg" src="../../assets/gal3.jpeg" width="350px" height="200px" alt="image-gal3">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque quisquam quasi eligendi, distinctio dolorem fugit facilis reiciendis. Non dignissimos quas placeat atque, repellat quod pariatur sed asperiores, voluptate, dolore numquam.</p>
            </div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop3" width="50%">
                Ampliar foto
            </button>
            <!-- Modal  card2-->
            <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Título del modal</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img class="Imgmodal"  src="../../assets/gal3.jpeg" alt="image-gal2">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Titulo Foto</h5>
                <img class="myImg" src="../../assets/gal4.jpeg" width="350px" height="200px" alt="image-gal4">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque quisquam quasi eligendi, distinctio dolorem fugit facilis reiciendis. Non dignissimos quas placeat atque, repellat quod pariatur sed asperiores, voluptate, dolore numquam.</p>
            </div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop4" width="50%">
                Ampliar foto
            </button>
            <!-- Modal  card2-->
            <div class="modal fade" id="staticBackdrop4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Título del modal</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img class="Imgmodal"  src="../../assets/gal4.jpeg" alt="image-gal4">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Titulo Foto</h5>
                <img class="myImg" src="../../assets/gal5.jpeg" width="350px" height="200px" alt="image-gal5">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque quisquam quasi eligendi, distinctio dolorem fugit facilis reiciendis. Non dignissimos quas placeat atque, repellat quod pariatur sed asperiores, voluptate, dolore numquam.</p>
            </div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop5" width="50%">
                Ampliar foto
            </button>
            <!-- Modal  card2-->
            <div class="modal fade" id="staticBackdrop5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Título del modal</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img class="Imgmodal"  src="../../assets/gal5.jpeg" alt="image-gal5">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Titulo Foto</h5>
                <img class="myImg" src="../../assets/gal6.jpeg" width="350px" height="200px" alt="image-gal6">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque quisquam quasi eligendi, distinctio dolorem fugit facilis reiciendis. Non dignissimos quas placeat atque, repellat quod pariatur sed asperiores, voluptate, dolore numquam.</p>
            </div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop6" width="50%">
                Ampliar foto
            </button>
            <!-- Modal  card2-->
            <div class="modal fade" id="staticBackdrop6" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Título del modal</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img class="Imgmodal"  src="../../assets/gal6.jpeg" alt="image-gal6">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>