<div  class="paragraph">
    <p>Hola!.. Mi nombre es Laura Tinoco Ordosgoitia, soy administradora por 
    profesión y decoradora por pasión…</p>
    <p>Inicie en este hermoso mundo gracias a las habilidades heredadas de mi madre 
    y a la oportunidad de independencia que me dio la llegada de mi único hijo. 
    Decorar celebraciones es mi pasión, lo disfruto y lo hago con muchísimo amor 
    de principio a fin.</p>
    <p> Es un placer para nuestro equipo de trabajo presentarle y ofrecerle nuestros 
    servicios, <strong>LAURA TINOCO EVENTOS</strong> es un negocio familiar que nace de la 
    alegría y la pasión por hacer de cada fecha especial, un momento lleno de 
    creatividad, felicidad y muchísimo amor.</p>
    <p><strong>LAURA TINOCO EVENTOS,</strong>  dispone para prestar sus servicios un equipo de 
    trabajo, caracterizados por alto sentido de responsabilidad, ética, creatividad 
    y sensibilidad humana, comprometidos con la prestación de un servicio que 
    satisfaga y supere sus expectativas.</p>
    <p>Cada evento para <strong>LAURA TINOCO EVENTOS</strong> es la mejor 
    oportunidad para crear un espacio temático que brinda experiencia 
    y exclusividad para quienes participaran y disfrutaran de él.</p>
    <p>Esperamos ser parte de su fecha especial.</p>
    <p>Cordialmente, </p>
    <strong>LAURA TINOCO EVENTOS</strong> 
</div>
