.pack1{
    padding: 50px;
}
h2{
    color: aliceblue;
    text-align: center;
}

#carousel1{
    padding: 50px;
}
.pack2{
    padding: 50px;
}
#carousel2{
    padding: 50px;
}
.pack3{
    padding: 50px;
}
#carousel3{
    padding: 50px;
}
.pack4{
    padding: 50px;
}
#carousel4{
    padding: 50px;
}